<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Celebros\Celexport\Api\ExportManagementInterface" type="Celebros\Celexport\Model\ExportManagement"/>
    <preference for="Celebros\Celexport\Api\SettingsInterface" type="Celebros\Celexport\Model\Settings"/>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="celebrosExport" xsi:type="object">Celebros\Celexport\Console\Command\Export</item>
                <item name="celebrosProcess" xsi:type="object">Celebros\Celexport\Console\Command\Process</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Indexer\Model\Indexer">
        <plugin name="Celebros_Celexport_Plugin_Indexer_Model_Indexer" type="Celebros\Celexport\Plugin\Indexer\Model\Indexer" sortOrder="10000" disabled="false"/>
    </type>
    <type name="Celebros\Celexport\Model\Config\Source\Events">
        <arguments>
            <argument name="events" xsi:type="array">
                <item name="cache" xsi:type="object">Celebros\Celexport\Model\Config\Source\Events\Cache</item>
                <item name="indexers" xsi:type="object">Celebros\Celexport\Model\Config\Source\Events\Indexers</item>
            </argument>
        </arguments>
    </type>
</config>