<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Celebros\Celexport\Api\ExportManagementInterface" type="Celebros\Celexport\Model\ExportManagement"/>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="celebrosExport" xsi:type="object">Celebros\Celexport\Console\Command\Export</item>
            </argument>
        </arguments>
    </type>
</config>